.pht-mctnr--gut6 {
	width:calc(100% + 6px);
	margin-left:-3px;
	margin-top:-6px;
}
.pht-mctnr--gut6__item {
	padding:0 3px;
	margin-top:6px;
	margin-bottom:0;
}
@include media-query( 'palm') {
.pht-mctnr--gut16,
.pht-mctnr--gut12 {
	width:calc(100% + 6px);
	margin-left:-3px;
	margin-top:-6px;
}
.pht-mctnr--gut16 .pht-showcase__item,
.pht-mctnr--gut12 .pht-showcase__item,
.pht-mctnr--gut16,
.pht-mctnr--gut12__item {
	padding:0 3px;
	margin-top:6px;
	margin-bottom:0;
}

.pht-mctnr--gut24 {
	width:calc(100% + 24px);
	margin-left:-12px;
	margin-top:-24px;
}
.pht-mctnr--gut24 .pht-showcase__item,
.pht-mctnr--gut24__item {
	padding:0 12px;
	margin-top:24px;
	margin-bottom:0;
}
}
@include media-query( 'lap-and-up') {
.pht-mctnr--gut24 {
	width:calc(100% + 24px);
	margin-left:-12px;
	margin-top:-24px;
}
.pht-mctnr--gut24 .pht-showcase__item,
.pht-mctnr--gut24__item {
	padding:0 12px;
	margin-bottom:0;
	margin-top:24px;
}
.pht-mctnr--gut16 {
	width:calc(100% + 16px);
	margin-left:-8px;
	margin-top:-16px;
}
.pht-mctnr--gut16  .pht-showcase__item,
.pht-mctnr--gut16__item {
	padding:0 8px;
	margin-bottom:0;
	margin-top:16px;
}
.pht-mctnr--gut12 {
	width:calc(100% + 12px);
	margin-left:-6px;
	margin-top:-12px;
}
.pht-mctnr--gut12 .pht-showcase__item,
.pht-mctnr--gut12__item {
	padding:0 6px;
	margin-bottom:0;
	margin-top:12px;
}
}
@include media-query( 'desk-wide') {
	.pht-mctnr--gut-deskwide-32 .pht-showcase__item {
		padding:0 16px;
		margin-bottom:0;
		margin-top:32px;
	}
	.pht-mctnr--gut-deskwide-48 .pht-showcase__item {
		padding:0 24px;
		margin-bottom:0;
		margin-top:48px;
	}
}