/*------------------------------------*\
    IMAGES
\*------------------------------------*/

.phtpb_section img {
  max-width: 100%;
  height:auto;
  vertical-align: middle;
}

.pht-fig {	
	display:block;
	position:relative;
	overflow:hidden;
	z-index:0;
	max-width:100%;
	margin:0 auto;
	img {
		margin:0;
		vertical-align: bottom;
	}
}
.pht-fig__inner {
	display:inline-block;
	vertical-align: bottom;
	max-width:100%;
	position:relative;
	overflow:hidden;
}
.pht-gallery .pht-fig {
	display:block;
}

.pht-fig__link {
	text-decoration: none;
	position:absolute;	
	opacity:0;
	transition:.6s;
	outline:none;
	z-index: 2;
	
}
.pht-fig__link--hoverdir {
	background:rgba(black,.4);
	
	&, &:hover {
		color:#fff;
	}
}

.pht-fig__link--main {	
	left:0;
	right:0;
	top:0;
	bottom:0;
	display:flex;
	flex-direction: column;
	justify-content: center;		
}
.pht-fig__link__str,
.pht-fig__link__string {
	color:#fff;
	font-size:24px;
	z-index:1;
}
.pht-fig__link__string {	

	text-align: center; 
	position:absolute; 
	display:block; 
	margin:auto; 
	height:2*16px;
	line-height: 2*16px;
	left:0; 
	right:0; 
	top:0; 
	bottom:0;
	
}
.phtpb_mixed_gallery--notitles .pht-fig__link__str__span {
	display:none;
}
.pht-fig a.pht-fig__link--secondary {
	background:transparent;
	right:1*8px;
	top:1*8px;
	height:2*16px; 
	width:2*16px;	
	transition: ease-in-out .5s;
	text-align: center;
	line-height: 2*16px;
	&,
	&:hover {
		border:none;
		box-shadow:none;
	}
}

.pht-fig:hover .pht-fig__link, .pht-fig__link:focus  {
	opacity:1;
}
.pht-fig__link:focus {
	outline:none;
	&:after {
		content:none;
	}
	div {display:none}
}
.phtpb_image {
	text-align:center;
}
@include media-query(lap-and-up){
	
	.phtpb_image--left {text-align:left;}
	.phtpb_image--right {text-align:right;}
		
}

.phtpb_img_text {
	display:flex;
	& > div:first-child {margin-right:24px}
}
.phtpb_img_text__text {
	flex:1
}
.phtpb_img_text--center {
	align-items:center;
}
.phtpb_img_text--bottom {
	align-items:flex-end;
}