.pht-showcase__filter {
	margin-left:6px;
	margin-right:6px;
	display:inline-block;
	text-decoration:none;
}
.pht-showcase__filter:first-child {
	margin-left:0;
}
.pht-showcase__filter:last-child {
	margin-right:0;
}