.phtpb_slicks--c {
	padding:0 0 24px;
	display:none;
}

.phtpb_slicks--img {
	padding:0;
	
	.slick-slide {
		padding: 0 12px;
	}
	
}

.phtpb_slicks--img {
	
	img {margin:auto;transition:opacity 0.3s;}
	img[data-lazy] {
		will-change:opacity;
		opacity:0;
	}
	img[src] {
		opacity:1;
	}
}
@include media-query( 'lap-and-up') {
	.phtpb_slicks--img {
		.pht-fig {
			background:white;
		}
	}
	.phtpb_slicks--img-480 {
		height:480px;
		.pht-fig {
			height:480px;
		}
	}
	.phtpb_slicks--img-600 {
		height:600px;
		.pht-fig {
			height:600px;
		}
	}
	.phtpb_slicks--img-300 {
		height:300px;
		.pht-fig {
			height:300px;
		}
	}
}

.phtpb_slicks__btn {
	position:absolute;
	height:32px;
	background:transparent;
	margin:0;
	width:32px;
	border:none;
	outline:none;
	padding:0;
	bottom: 0;
	color:inherit;
	&:hover {
		background:transparent;
	}
	&:before {
		@extend %pht-ic;
	}
}

.phtpb_slicks--img__btn {
	
	background:white;
	text-align:center;
	z-index:1;
	opacity:0;
	transition:.5s;
	&:before {
		line-height:32px;
	}
}
.phtpb_slicks:hover .phtpb_slicks--img__btn {
	opacity:1;
}
	
.phtpb_slicks__btn--prev {
	left:0;
	&:before {
		@extend .pht-ic-f1-arrow-left;
	}
}
.phtpb_slicks__btn--next {
	right:0;
	&:before {
		@extend .pht-ic-f1-arrow-right;
	}
}

.phtpb_slicks--img__btn.phtpb_slicks__btn--prev {
	left:0
}
.phtpb_slicks--img__btn.phtpb_slicks__btn--next {
	right:0
}