/*------------------------------------*\
    TILES (GALLERY)
\*------------------------------------*/

.pht-gallery {
	clear: both;
	overflow:hidden;
	margin: 0;
	color:#fff;
}

	.pht-gallery__item, .pht-gallery img {
		margin: 0 
	}
	.pht-gallery img {
		transform:translateZ(-1px);
	}
	.pht-gallery__group-container, .pht-gallery__item:after, .pht-gallery__caption {
		position:absolute;
		left:0;
		right:0;
		top:0;
		bottom:0;
	}
	.pht-gallery__group, .pht-gallery__item {
		float: left;
		position:relative;
	}
	.pht-gallery__row {
		position:relative;
		overflow:hidden;
	}
	.pht-gallery__item {
		max-width:100%;
		
		&:after {
			content:"";
			z-index:3;
			color:inherit;
			pointer-events:none;
		}
	}
	$gallery_span : 6px;
	.pht-gallery__item--not1stt:after {border-top:$gallery_span solid}
	.pht-gallery__link--not1stt {margin-top:$gallery_span;height:calc(100% - 6px);}
	.pht-gallery__item--not1stl:after {border-left:$gallery_span solid }
	.pht-gallery__link--not1stl {margin-left:$gallery_span;width:calc(100% - 6px); }
	.pht-gallery__caption {
		position:absolute;
		bottom:0;
		top:auto;
		left: 0;
		right:0;
		padding:6px 12px;
		transform:translate3d(0,100%,0);
		background:rgba(black,.3);
		opacity:0;
		z-index:3;
		pointer-events:none;
		.pht-gallery__item-small & {
			font-size: 10px;
			@extend .pht-truncate;
			right:8px;
		}
		.pht-gallery__item-tiny & {
			display:none;
		}
	}
	.pht-gallery__item--not1stl .pht-gallery__caption { left:6px}
	.pht-gallery--0 {
		.pht-gallery__item--not1stt:after {border-top:none}
		.pht-gallery__link--not1stt {margin-top:0}
		.pht-gallery__item--not1stl:after {border-left:none }
		.pht-gallery__link--not1stl {margin-left:0 }
		.pht-gallery__item--not1stl .pht-gallery__caption { left:0}
	}
	
	@include media-query('desk') {
		.pht-gallery--16 {
			.pht-gallery__item--not1stt:after {border-top:16px solid}
			.pht-gallery__link--not1stt {margin-top:16px;height:calc(100% - 16px);}
			.pht-gallery__item--not1stl:after {border-left:16px solid }
			.pht-gallery__link--not1stl {margin-left:16px; width:calc(100% - 16px);} 
			.pht-gallery__item--not1stl .pht-gallery__caption { left:16px}
			.pht-gallery__item--not1stt a.pht-fig__link--secondary {
				margin-top:16px;
			}
		}
		.pht-gallery--24 {
			.pht-gallery__item--not1stt:after {border-top:24px solid}
			.pht-gallery__link--not1stt {margin-top:24px;height:calc(100% - 24px);}
			.pht-gallery__item--not1stl:after {border-left:24px solid;  }
			.pht-gallery__link--not1stl {margin-left:24px; width:calc(100% - 24px); }
			.pht-gallery__item--not1stl .pht-gallery__caption { left:24px}
			.pht-gallery__item--not1stt a.pht-fig__link--secondary {
				margin-top:24px;
			}
		}
	}

	

	.pht-gallery__item:hover .pht-gallery__caption { /* Captions */
		-webkit-transform:translate3d(0,0,0);
		transform:translate3d(0,0,0);
		opacity:1;
		
	}
	