$border-radius : 3px;
$border_width : 1px 1px 3px;
$section_title_height : 32px;
$controls_width : 32px;
$large_icon_size : 48px;
$column_margin : 0.75%;
$section_color : darken(#525f72,10);
$section_bg : #525f72;
$section_light : lighten($section_bg, 55);
$module_color:darken(#d98858, 10);
$module_bg:#f0a561;

$row_bg : darkcyan;
$row_color : darken($row_bg,5);
$row_light : rgba($row_bg, .15);
.sortable-placeholder {max-height:100px; height:20px}
.phtpb_disable-section-module .phtpb_section-content > .sortable-placeholder {display:none!important}
.phtpb_disable-row-row-row .phtpb_row-content .phtpb_row-content .sortable-placeholder {display:none!important}
.phtpb_disable-row-row .phtpb_column .sortable-placeholder {display:none!important}
.ui-sortable-helper {}
.phtpb_module.ui-sortable-helper, .phtpb_row.ui-sortable-helper {
	max-width:200px; max-height:150px; overflow:hidden;
}
.phtpb_section.ui-sortable-helper {
	max-height:150px; overflow:hidden;
}
#phtpb *, 
#phtpb *:after, 
#phtpb *:before, 
.phtpb_modal_settings_container *,
.phtpb_modal_settings_container *:after, 
.phtpb_modal_settings_container *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.phtpb_truncate {
width: 100%;
display: inline-block;
overflow: hidden;
text-overflow: ellipsis;
//white-space: nowrap;
}

.phtpb_modal_settings_container .wp-color-result {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.cf{
    &:after{
        content:"";
        display:table;
        clear:both;
    }
}
%phtpb_border {
	border-radius:$border_radius;
	border-style:solid;
	border-width: $border_width;
	position:relative;
}
.phtpb_pointer {cursor:pointer}
.phtpb_transition {transition:.3s;}
%phtpb_h-align--center {text-align:center}
%phtpb_text_special {font-weight:bold; text-transform: uppercase; text-decoration:none}
.ui-sortable-placeholder { 
	border: 1px dashed black; 
	background: transparent; 
	visibility: visible !important; 
	width: 100%; 
	box-shadow: none; 
	padding: 0; 
	min-height:64px;
}
.phtpb_colorblock {
	position:relative;
	overflow:hidden;
	z-index:0;
	&:before {
		content:"";
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		background-color:currentColor;
		transition:.5s;
		z-index:-1;
		opacity:.05;
	}
	&:hover:before {
		opacity:.25;
	}
}

.phtpb_heading, h3.phtpb_heading {
	color:inherit;
	background-color:currentColor;
	span {color:#fff}
}

.phtpb_border--none {
	@extend %phtpb_border;
}

.phtpb_border--tiny {
	@extend %phtpb_border;
	padding:4px;
}

.phtpb_border--small {
	@extend %phtpb_border;
	padding:8px;
}

.phtpb_border--normal {
	@extend %phtpb_border;
	padding:16px;
}

.phtpb_block {
	position:relative;
	display:block;
	margin-bottom:16px;
	background:#fff;
}
.phtpb_block--small {
	margin-bottom:8px;
}

.phtpb_row-content, .phtpb_section-content {
	padding:16px 16px 16px 48px;
}

.phtpb_css-controls--section, .phtpb_css-controls--row {
	position:absolute;
	left:0;
	bottom:0;
	width:32px;
	border-right:1px solid;
}

.phtpb_css-controls--section {
	top:$section_title_height;
	background:$section_light;
}

.phtpb_css-controls--row {
	top:0;
	background:$row_light;
}
.phtpb_settings:hover {
	color:#000;
}
.phtpb_css-controls--column .phtpb_settings {
	display:block;
	width:32px;
	padding:4px 8px;
	margin: 0 0 8px;
}
.phtpb_column-content, .phtpb_modal__all_modules {
	color:$module_color;
}
.phtpb_all-modules .phtpbcss_icon--large {
	&:before{color:#fff;}
	background-color: currentColor;
}

.phtpb_module {
	@extend %phtpb_h-align--center;
	@extend .phtpb_truncate;
}

.phtpb_module {.phtpb_module-content, .phtpb_container {display:none}}

.phtpb_module__title--section {
	//line-height: $section_title_height;
	padding:7px $controls_width;
	display:block;
	@extend %phtpb_h-align--center;
}
.phtpb_modal__section {
	color:$section_color;
}
.phtpb_modal__module {
	color:$module_color;
}
.phtpb_modal__column, .phtpb_modal__row {
	color:$row_color;
}

.phtpb_modal__all_modules, .phtpb_modal__module {
	color:$module_color;
}
.phtpb_module_class-option, .phtpb_module_id-option {background: lighten(grey,40)}
.phtpb_option--special {
	position:relative;
	&:after {
		content:"";
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		z-index:-1;
		opacity:.15;
	}
}

.phtpb_main-settings .phtpb_option--special:after {
	background:$module_color;
}

.phtpb_main-settings--phtpb_section .phtpb_option--special:after {
	background:$section_bg;
}


.phtpbcss_icon {
	font-size:16px;
	display:inline-block;
	height:$controls_width;
	line-height:$controls_width;
	width:$controls_width;
	@extend %phtpb_h-align--center;
	color:inherit;
	&:hover {color:#000}
	&:focus {outline: 1px dashed black; box-shadow:none}
}

.phtpb_button--insert {
	@extend .phtpb_border--tiny;
	@extend %phtpb_h-align--center;
	@extend %phtpb_text_special;
}

.phtpb_insert-module,.phtpb_insert-columns  {
	@extend .phtpb_block;
	@extend .phtpb_block--small;
	@extend .phtpb_truncate;
}


.phtpb_section {
	min-height:132px;	
	margin-bottom:72px;
	color:$section_color;
}
.phtpbcss_handlediv {
	position:absolute;
	width:32px;
	height:32px;
	top:0;
	right:0;
	color:#fff;
	text-align: center;
	transition:background .5s;
	&:hover {
		background:rgba(black,.25);
	}
	i {
		line-height:32px
	}
}
.phtpb_row .phtpbcss_handlediv {
	color:currentColor;
	width:22px;
	&:hover {
		background: currentColor;
		i {color:#fff;}
	}
}
.phtpb_section.js-slide-up {
min-height:0;
height:68px;
	.phtpb_section-content, .phtpb_insert-columns  {max-height:0; overflow:hidden; padding:0; margin:0; border:0}
	.phtpb_css-controls--section {position:static; width:100%; text-align:center; border:none}
	.phtpb_css-add-section {bottom:-20px}
	.phtpbcss_handlediv {
		-webkit-transform:rotate(180deg);
		transform:rotate(180deg);
	}
}
.phtpb_row.js-slide-up {
min-height:0;
height:36px;
	.phtpb_row-content {max-height:0; overflow:hidden; padding:0; margin:0; border:0}
	.phtpb_css-controls--row {position:static; width:100%; text-align:center; border:none}
	.phtpbcss_handlediv {
		-webkit-transform:rotate(180deg);
		transform:rotate(180deg);
	}
}
.phtpb_css-add-section {
	position:relative;
	bottom:-36px;
	left:0;
	background: $section_bg;
	&:hover {background: $section_color;}
}

.phtpb_css-add-row, .phtpb_settings-column {
	background: $row_bg;
	&:hover {background: $row_color;}
}
.phtpb_insert-module {
	background: $module_bg;
	&:hover {background: $module_color;}
}
.phtpb_css-add-section, .phtpb_css-add-row, .phtpb_settings-column, .phtpb_insert-module, .phtpb_button--insert {
	transition:.5s;
	&, &:hover { color:inherit}
 	span {color:#fff}
 	@extend .phtpb_pointer;
}
.phtpb_section > .phtpb_css-add-row {
	margin:0px 16px 16px 48px;
	width:auto;
}

.phtpb_row, .phtpb_modal__columns_layout, .phtpb_insert-columns, .phtpb_insert-columns:hover {
	color:$row_color;
}

.phtpb_row-content {@extend .phtpb_list}
.phtpb_column { margin: 0 $column_margin; }
.phtpb_column-4_4, .phtpb_column-fullwidth { width: 100% - 2*$column_margin;;  }
.phtpb_column-1_2 { width: 50% - 2*$column_margin; }
.phtpb_column-1_3 { width: 33% - 2*$column_margin; }
.phtpb_column-1_4 { width: 25% - 2*$column_margin; }
.phtpb_column-2_3 { width: 67% - 2*$column_margin; }
.phtpb_column-3_4 { width: 75% - 2*$column_margin; }
.phtpb_column-content {padding:0;}
.phtpb_column {
	.phtpb_column {
		.phtpb_insert-columns {display:none;}
	}
}

.phtpb_stop_scroll { overflow: hidden; }
.phtpb_stop_scroll:after { 
	content:"";
	position: fixed; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
	background: rgba(0, 0, 0, 0.75); 
	z-index: 99998; 
} 
.phtpb_modal_settings_container { 
	position: fixed; 
	top: 15%; 
	left: 50%; 
	bottom: 15%; 
	width: 960px; 
	margin: 0 0 0 -480px; 
	background: #fff; 
	z-index: 99999;
}
	.phtpb_cancel-modal-action {
		position:absolute; 
		right:0; top:-8px; 
		color:#fff;
		@extend %phtpb_h-align--center;
		z-index:1;
		i {line-height:48px}
		&:focus {outline:none}
		&:hover {background:rgba(black,.15); color:#fff}
	}

	.phtpb_settings-heading {
		@extend %phtpb_h-align--center;
		position:absolute; 
		top:0; 
		width: 100%; 
		height:48px;line-height:48px;
		margin:0;
	}

	.phtpb_main-settings {
		position:absolute;
		overflow:auto;
		top:64px;
		bottom:16px;
		left:16px;
		right:16px;

	
	@extend .phtpb_border--none;
		.phtpb_modal__settings & {
			bottom:80px;
		}
	}

	.phtpb_option--with-label {
		padding:16px 24px;
		border-bottom:1px dashed;
		font-size:12px;
		label {
			display: block;
			margin-bottom:4px;
			@extend %phtpb_text_special;
		}
	}

	.phtpb_main-settings--phtpb_section .phtpb_option--special {
		background:$section_light;
	}
.phtpb_css-controls--section,.phtpb_css-controls--row,.phtpb_module {
	cursor:move;
}
.phtpb_disabled {
	color:grey;
	cursor:not-allowed;
	.phtpb_settings, .phtpb_clone {cursor:inherit}
}


.phtpb_list {
	@extend .cf;
	text-align:center;
	margin:0;
	& > :nth-child(n) {
		float:left;
	
	}
}
.phtpb_list--3 {
	& > :nth-child(n) {
		margin:	8px 2%;
		width:33% - 4%;
	}	
}
.phtpb_list--5 {
	& > :nth-child(n) {
		margin:	8px 1%;
		width:20% - 2%;
	}	
}

	.phtpbcss_column_layout {
		background-color:currentColor;
		
		height:96px;
		line-height:96px;
		border-color:#fff;	
		border-style: solid;
		border-width:0 1px;
		font-size:18px;
		span {color:#fff}
	}
	.phtpbcss_column_layout_4_4, .phtpbcss_column_layout_fullwidth {
		width:100%;
	}
	.phtpbcss_column_layout_1_4 {
		width:25%;
	}
	.phtpbcss_column_layout_1_3 {
		width:33%;
	}
	.phtpbcss_column_layout_1_2 {
		width:50%;
	}
	.phtpbcss_column_layout_2_3 {
		width:67%;
	}
	.phtpbcss_column_layout_3_4 {
		width:75%;
	}
	.phtpbcss_column_layout:first-child {
		border-width:0 1px 0 0;
	}
	.phtpbcss_column_layout:last-child {
		border-width:0 0 0 1px;
	}

	.phtpbcss_icon--large, .fa.phtpbcss_icon--large {
		display:block;
		margin:8px auto;	
		width:$large_icon_size;
		height:$large_icon_size;
		font-size:24px;
		line-height:$large_icon_size;
}
.phtpb_modules-option .phtpbcss_icon--large {
	border-radius:50%;
}
.phtpb_description {margin-top:8px; font-style: italic; font-size:12px}
.phtpb_upload-preview img { margin-top:8px; height:auto; max-width:200px}
.phtpb_main-settings--phtpb_marker .phtpb_upload-preview img {
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
}
.phtpb_close_icon { text-decoration: none; vertical-align: top; margin: 8px 0 0 2px;}
.phtpb_remove_video {
	margin: 0 0 0 4px;
}
.fa.phtpb_close_icon {font-size:18px; }

.phtpb_icons-list .phtpb_icons-list__icon {
	$icon_size : 32px;
	display:inline-block;
	width:$icon_size;
	height:$icon_size;
	border:1px solid;
	margin:1px;
	line-height:$icon_size;
	@extend %phtpb_h-align--center;
	vertical-align:bottom;
}
.phtpb_icons-list__icon--active, .phtpb_icons-list__icon:hover {background:$module_color; color:#fff}

.phtpb_save-button {
	@extend %phtpb_border;
	@extend %phtpb_h-align--center;
	@extend %phtpb_text_special;
	display:block;
	position:absolute;
	bottom:16px; 
	left:16px; 
	right:16px; 
	height:48px; 
	line-height:48px;
	span {color:#fff}
	&, &:hover {color:inherit;}
	
}
.phtpb_button--insert, .phtpb_save-button {
	&:focus{color:currentColor; box-shadow: 0 0 0 2px #fff, 0 0 0 3px currentColor}
}
.phtpb_modal__section .phtpb_save-button {
	background:$section_bg;
	&:hover {background-color:currentColor}
}
.phtpb_modal__module .phtpb_save-button, .phtpb_modal__module .phtpb_button--insert {
	background:$module_bg;
	&:hover {background-color:currentColor}
}

.phtpb_modal__column .phtpb_save-button,  .phtpb_modal__row .phtpb_save-button {
	background:$row_bg;
	&:hover {background-color:currentColor}
}
.phtpb_modal__column-inner .phtpb_use_as_slider-option {display:none}
.phtpb_option-advanced-module-settings {margin:8px}

.phtpb_use_color-option.unchecked + .phtpb_color-option,
.phtpb_use_bg_color-option.unchecked + .phtpb_bg_color-option, .phtpb_use_bg_color-option.unchecked ~ .phtpb_bg_opacity-option,
.phtpb_use_border_color-option.unchecked + .phtpb_border_color-option,
.phtpb_img_type-option.select-icon ~ .phtpb_src-option, .phtpb_img_type-option.select-icon ~ .phtpb_alt-option,
.phtpb_img_type-option.select-img ~ .phtpb_icon-option,
.phtpb_link_type-option.select-none ~ .phtpb_link-option, .phtpb_link_type-option.select-lightbox ~ .phtpb_link-option, 
.phtpb_link_type-option.select-none ~ .phtpb_target-option, .phtpb_link_type-option.select-lightbox ~ .phtpb_target-option
{display:none}

.phtpb_mb_footer {
	padding-top:24px;
	&, p {font-size:11px;margin:0}
}

.wp-core-ui .phtpb_button {
	margin:16px 0;
	height:48px;
	line-height:48px;
	width:100%;
	position:relative;
	@extend %phtpb_h-align--center;
	& > span {
		position:absolute;
		left:0;
		right:0
	}
}
span.js-hidden {display:none}

.phtpb_google-map {
	width:90%;
	height:250px;
	margin:8px 5%;
}


#phtpb, #phtpb_state_mb, .phtpb_container-with-children .phtpb_clone {display:none}

#phtpb.phtpb_visible, #phtpb_state_mb {display:block}
#wp-phtpb_secondeditor-wrap, .phtpb_activated #postdivrich, .phtpb_activated #wp-content-wrap, .phtpb_activated #wp-content-wrap  {
	display:none;
}
.phtpb_show_second_editor #wp-phtpb_secondeditor-wrap, .phtpb_visible + #phtpb_state_mb {
	display:block;
}

#phtpb {
	border:1px solid $section_color;
	box-shadow:none;
	.handlediv {color:#fff; padding-top:4px;}
	.inside {margin-top:16px;}
}
#phtpb .hndle {
	font-size:18px;
	padding:12px;
	background:$section_color;
	color:#fff;
}
.event-inactive {cursor:progress;opacity:.8;}
.event-inactive a {pointer-events:none; }
.phtpb_drag_disabled {}
.phtpb-promo {
	margin:8px;
	display:table; 
	max-width:100%; 
	color:#303030;
	border:none;
	background:lighten(mediumaquamarine,30);
}
.phtpb-promo a {
	text-decoration:none;
	color:$row_color;}
.phtpb-promo__text,.phtpb-promo__button  {
	display:table-cell;
	width:100%}
.phtpb-promo__button {
	white-space: nowrap;
	background:$row_bg;
	padding-left:24px;
	padding-right:24px; 
	&:hover{
		background:$row_color;
		color:$row_color;
	}
}

.phtpb_table {
	text-align:center;
}
.phtpb_table--cell {
	padding:0 4px!important;
	span {font-size:11px;}
}
@media screen and (min-width: 600px) {

.phtpb_table {display:table; width:100%}
.phtpb_table--cell {
	display:table-cell;
	vertical-align: middle;
	word-break: break-all;
	padding:0 4px!important;
	span {
		white-space: normal;
		
	}
}

span.phtpb_table--cell {
	width:1%;
	padding:0 4px;
	white-space: nowrap;
}

}

$fa-font-path:        "../../font-awesome/fonts";
@import "fonts/font-awesome";
@font-face {
	font-family: 'pht-elegantfont';
	src:url('../../fonts/fonts/pht-elegantfont.eot?egjxj4');
	src:url('../../fonts/fonts/pht-elegantfont.eot?egjxj4#iefix') format('embedded-opentype'),
		url('../../fonts/fonts/pht-elegantfont.ttf?egjxj4') format('truetype'),
		url('../../fonts/fonts/pht-elegantfont.woff?egjxj4') format('woff'),
		url('../../fonts/fonts/pht-elegantfont.svg?egjxj4#pht-elegantfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="pht-ic-"], [class*=" pht-ic-"], %pht-ic {
	font-family: 'pht-elegantfont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.pht-ic-f1-arrow-up:before {
	content: "\21";
}
.pht-ic-f1-arrow-down:before {
	content: "\22";
}
.pht-ic-f1-arrow-left:before {
	content: "\23";
}
.pht-ic-f1-arrow-right:before {
	content: "\24";
}
.pht-ic-f1-arrow-up-left:before {
	content: "\25";
}
.pht-ic-f1-arrow-up-right:before {
	content: "\26";
}
.pht-ic-f1-arrow-down-right:before {
	content: "\27";
}
.pht-ic-f1-arrow-down-left:before {
	content: "\28";
}
.pht-ic-f1-arrow-up-down:before {
	content: "\29";
}
.pht-ic-f1-arrow-up-down-alt:before {
	content: "\2a";
}
.pht-ic-f1-arrow-left-right-alt:before {
	content: "\2b";
}
.pht-ic-f1-arrow-left-right:before {
	content: "\2c";
}
.pht-ic-f1-arrow-expand-alt2:before {
	content: "\2d";
}
.pht-ic-f1-arrow-expand:before {
	content: "\2e";
}
.pht-ic-f1-arrow-condense:before {
	content: "\2f";
}
.pht-ic-f1-arrow-expand-alt:before {
	content: "\30";
}
.pht-ic-f1-arrow-move:before {
	content: "\31";
}
.pht-ic-f1-caret-up:before {
	content: "\32";
}
.pht-ic-f1-caret-down:before {
	content: "\33";
}
.pht-ic-f1-caret-left:before {
	content: "\34";
}
.pht-ic-f1-caret-right:before {
	content: "\35";
}
.pht-ic-f1-caret2-up:before {
	content: "\36";
}
.pht-ic-f1-caret2-down:before {
	content: "\37";
}
.pht-ic-f1-caret2-left:before {
	content: "\38";
}
.pht-ic-f1-caret2-right:before {
	content: "\39";
}
.pht-ic-f1-caret-up-circle:before {
	content: "\3a";
}
.pht-ic-f1-caret-down-circle:before {
	content: "\3b";
}
.pht-ic-f1-caret-left-circle:before {
	content: "\3c";
}
.pht-ic-f1-caret-right-circle:before {
	content: "\3d";
}
.pht-ic-f1-caret2-up-circle:before {
	content: "\3e";
}
.pht-ic-f1-caret2-down-circle:before {
	content: "\3f";
}
.pht-ic-f1-caret2-left-circle:before {
	content: "\40";
}
.pht-ic-f1-caret2-right-circle:before {
	content: "\41";
}
.pht-ic-f1-triangle-up:before {
	content: "\42";
}
.pht-ic-f1-triangle-down:before {
	content: "\43";
}
.pht-ic-f1-triangle-left:before {
	content: "\44";
}
.pht-ic-f1-triangle-right:before {
	content: "\45";
}
.pht-ic-f1-arrow-back:before {
	content: "\4a";
}
.pht-ic-f1-minus:before {
	content: "\4b";
}
.pht-ic-f1-plus:before {
	content: "\4c";
}
.pht-ic-f1-close:before {
	content: "\4d";
}
.pht-ic-f1-check:before {
	content: "\4e";
}
.pht-ic-f1-minus-circle:before {
	content: "\4f";
}
.pht-ic-f1-plus-circle:before {
	content: "\50";
}
.pht-ic-f1-close-circle:before {
	content: "\51";
}
.pht-ic-f1-check-circle:before {
	content: "\52";
}
.pht-ic-f1-zoom-out:before {
	content: "\53";
}
.pht-ic-f1-zoom-in:before {
	content: "\54";
}
.pht-ic-f1-search:before {
	content: "\55";
}
.pht-ic-f1-box-empty:before {
	content: "\56";
}
.pht-ic-f1-box-selected:before {
	content: "\57";
}
.pht-ic-f1-box-minus:before {
	content: "\58";
}
.pht-ic-f1-box-plus:before {
	content: "\59";
}
.pht-ic-f1-check-alt:before {
	content: "\5a";
}
.pht-ic-f1-circle-empty:before {
	content: "\5b";
}
.pht-ic-f1-circle-selected:before {
	content: "\5c";
}
.pht-ic-f1-stop-alt:before {
	content: "\5d";
}
.pht-ic-f1-stop:before {
	content: "\5e";
}
.pht-ic-f1-pause-alt:before {
	content: "\5f";
}
.pht-ic-f1-pause:before {
	content: "\60";
}
.pht-ic-f1-menu:before {
	content: "\61";
}
.pht-ic-f1-menu-alt:before {
	content: "\62";
}
.pht-ic-f1-menu-circle:before {
	content: "\63";
}
.pht-ic-f1-ul:before {
	content: "\64";
}
.pht-ic-f1-ol:before {
	content: "\65";
}
.pht-ic-f1-settings:before {
	content: "\66";
}
.pht-ic-f1-settings-alt:before {
	content: "\67";
}
.pht-ic-f1-doc:before {
	content: "\68";
}
.pht-ic-f1-docs:before {
	content: "\69";
}
.pht-ic-f1-pencil:before {
	content: "\6a";
}
.pht-ic-f1-edit:before {
	content: "\6b";
}
.pht-ic-f1-edit-alt:before {
	content: "\6c";
}
.pht-ic-f1-folder:before {
	content: "\6d";
}
.pht-ic-f1-folder-alt:before {
	content: "\6e";
}
.pht-ic-f1-folder-plus:before {
	content: "\6f";
}
.pht-ic-f1-info:before {
	content: "\70";
}
.pht-ic-f1-error-alt:before {
	content: "\71";
}
.pht-ic-f1-error:before {
	content: "\72";
}
.pht-ic-f1-warning:before {
	content: "\73";
}
.pht-ic-f1-question-alt:before {
	content: "\74";
}
.pht-ic-f1-question:before {
	content: "\75";
}
.pht-ic-f1-comment:before {
	content: "\76";
}
.pht-ic-f1-comments:before {
	content: "\77";
}
.pht-ic-f1-vol-mute:before {
	content: "\78";
}
.pht-ic-f1-vol-low:before {
	content: "\79";
}
.pht-ic-f1-vol-high:before {
	content: "\7a";
}
.pht-ic-f1-quote:before {
	content: "\7b";
}
.pht-ic-f1-quote-circle:before {
	content: "\7c";
}
.pht-ic-f1-clock:before {
	content: "\7d";
}
.pht-ic-f1-lock:before {
	content: "\7e";
}
.pht-ic-f1-unlock:before {
	content: "\e000";
}
.pht-ic-f1-key:before {
	content: "\e001";
}
.pht-ic-f1-cloud:before {
	content: "\e002";
}
.pht-ic-f1-cloud-up:before {
	content: "\e003";
}
.pht-ic-f1-cloud-down:before {
	content: "\e004";
}
.pht-ic-f1-image:before {
	content: "\e005";
}
.pht-ic-f1-images:before {
	content: "\e006";
}
.pht-ic-f1-lightbulb:before {
	content: "\e007";
}
.pht-ic-f1-gift:before {
	content: "\e008";
}
.pht-ic-f1-home:before {
	content: "\e009";
}
.pht-ic-f1-genius:before {
	content: "\e00a";
}
.pht-ic-f1-mobile:before {
	content: "\e00b";
}
.pht-ic-f1-tablet:before {
	content: "\e00c";
}
.pht-ic-f1-laptop:before {
	content: "\e00d";
}
.pht-ic-f1-desktop:before {
	content: "\e00e";
}
.pht-ic-f1-camera:before {
	content: "\e00f";
}
.pht-ic-f1-mail:before {
	content: "\e010";
}
.pht-ic-f1-cone:before {
	content: "\e011";
}
.pht-ic-f1-ribbon:before {
	content: "\e012";
}
.pht-ic-f1-bag:before {
	content: "\e013";
}
.pht-ic-f1-credit-card:before {
	content: "\e014";
}
.pht-ic-f1-cart:before {
	content: "\e015";
}
.pht-ic-f1-paperclip:before {
	content: "\e016";
}
.pht-ic-f1-tag:before {
	content: "\e017";
}
.pht-ic-f1-tags:before {
	content: "\e018";
}
.pht-ic-f1-trash:before {
	content: "\e019";
}
.pht-ic-f1-cursor:before {
	content: "\e01a";
}
.pht-ic-f1-micro:before {
	content: "\e01b";
}
.pht-ic-f1-compass:before {
	content: "\e01c";
}
.pht-ic-f1-pin:before {
	content: "\e01d";
}
.pht-ic-f1-pushpin:before {
	content: "\e01e";
}
.pht-ic-f1-map:before {
	content: "\e01f";
}
.pht-ic-f1-drawer:before {
	content: "\e020";
}
.pht-ic-f1-toolbox:before {
	content: "\e021";
}
.pht-ic-f1-book:before {
	content: "\e022";
}
.pht-ic-f1-calendar:before {
	content: "\e023";
}
.pht-ic-f1-film:before {
	content: "\e024";
}
.pht-ic-f1-table:before {
	content: "\e025";
}
.pht-ic-f1-contacts:before {
	content: "\e026";
}
.pht-ic-f1-headphones:before {
	content: "\e027";
}
.pht-ic-f1-lifesaver:before {
	content: "\e028";
}
.pht-ic-f1-piechart:before {
	content: "\e029";
}
.pht-ic-f1-refresh:before {
	content: "\e02a";
}
.pht-ic-f1-link:before {
	content: "\e02b";
}
.pht-ic-f1-link-alt:before {
	content: "\e02c";
}
.pht-ic-f1-preload:before {
	content: "\e02d";
}
.pht-ic-f1-blocked:before {
	content: "\e02e";
}
.pht-ic-f1-archive:before {
	content: "\e02f";
}
.pht-ic-f1-heart:before {
	content: "\e030";
}
.pht-ic-f1-star:before {
	content: "\e031";
}
.pht-ic-f1-star-half:before {
	content: "\e032";
}
.pht-ic-f1-star-alt:before {
	content: "\e033";
}
.pht-ic-f1-star-half-alt:before {
	content: "\e034";
}
.pht-ic-f1-tools:before {
	content: "\e0cf";
}
.pht-ic-f1-tool:before {
	content: "\e0d0";
}
.pht-ic-f1-cogs:before {
	content: "\e037";
}
.pht-ic-f1-cogs-alt:before {
	content: "\e038";
}
.pht-ic-f1-arrow-up-circle:before {
	content: "\e0d1";
}
.pht-ic-f1-arrow-down-circle:before {
	content: "\e0d2";
}
.pht-ic-f1-arrow-left-circle:before {
	content: "\e0d3";
}
.pht-ic-f1-arrow-right-circle:before {
	content: "\e0d4";
}
.pht-ic-f1-arrow-up-left-circle:before {
	content: "\e0d5";
}
.pht-ic-f1-arrow-up-right-circle:before {
	content: "\e0d6";
}
.pht-ic-f1-arrow-down-right-circle:before {
	content: "\e0d7";
}
.pht-ic-f1-arrow-down-left-circle:before {
	content: "\e0d8";
}
.pht-ic-f1-expand-alt:before {
	content: "\e0d9";
}
.pht-ic-f1-arrow-condense-alt:before {
	content: "\e0da";
}
.pht-ic-f1-caret-up-circle-alt:before {
	content: "\e0db";
}
.pht-ic-f1-caret-down-circle-alt:before {
	content: "\e0dc";
}
.pht-ic-f1-caret-left-circle-alt:before {
	content: "\e0dd";
}
.pht-ic-f1-caret-right-circle-alt:before {
	content: "\e0de";
}
.pht-ic-f1-caret2-up-circle-alt:before {
	content: "\e0df";
}
.pht-ic-f1-caret2-down-circle-alt:before {
	content: "\e0e0";
}
.pht-ic-f1-caret2-left-circle-alt:before {
	content: "\e0e4";
}
.pht-ic-f1-caret2-right-circle-alt:before {
	content: "\e0e5";
}
.pht-ic-f1-triangle-up-alt:before {
	content: "\e0e6";
}
.pht-ic-f1-triangle-down-alt:before {
	content: "\e0e7";
}
.pht-ic-f1-triangle-left-alt:before {
	content: "\e0f0";
}
.pht-ic-f1-triangle-right-alt:before {
	content: "\e0f1";
}
.pht-ic-f1-minus-circle-alt:before {
	content: "\e0f2";
}
.pht-ic-f1-plus-circle-alt:before {
	content: "\e0f3";
}
.pht-ic-f1-close-circle-alt:before {
	content: "\e0f4";
}
.pht-ic-f1-chec-circle-alt:before {
	content: "\e0f7";
}
.pht-ic-f1-zoom-out-alt:before {
	content: "\e0f8";
}
.pht-ic-f1-zoom-in-alt:before {
	content: "\e0f9";
}
.pht-ic-f1-stop-circle-alt:before {
	content: "\e0fa";
}
.pht-ic-f1-menu-square-alt:before {
	content: "\e0fc";
}
.pht-ic-f1-menu-circle-alt:before {
	content: "\e0fd";
}
.pht-ic-f1-doc-alt:before {
	content: "\e10a";
}
.pht-ic-f1-docs-alt:before {
	content: "\e10b";
}
.pht-ic-f1-pencil-alt:before {
	content: "\e10c";
}
.pht-ic-f1-folder-alt2:before {
	content: "\e10d";
}
.pht-ic-f1-folder-alt3:before {
	content: "\e10e";
}
.pht-ic-f1-folder-plus-alt:before {
	content: "\e10f";
}
.pht-ic-f1-folder-upload:before {
	content: "\e110";
}
.pht-ic-f1-folder-download:before {
	content: "\e111";
}
.pht-ic-f1-info-alt:before {
	content: "\e112";
}
.pht-ic-f1-error-alt2:before {
	content: "\e113";
}
.pht-ic-f1-error-alt3:before {
	content: "\e114";
}
.pht-ic-f1-warning-alt:before {
	content: "\e115";
}
.pht-ic-f1-question-alt2:before {
	content: "\e116";
}
.pht-ic-f1-comment-alt:before {
	content: "\e117";
}
.pht-ic-f1-comments-alt:before {
	content: "\e118";
}
.pht-ic-f1-mute-alt:before {
	content: "\e119";
}
.pht-ic-f1-vol-low-alt:before {
	content: "\e11a";
}
.pht-ic-f1-vol-hight-alt:before {
	content: "\e11b";
}
.pht-ic-f1-quote-circle-alt:before {
	content: "\e11c";
}
.pht-ic-f1-clock-alt:before {
	content: "\e11d";
}
.pht-ic-f1-lock-alt:before {
	content: "\e11e";
}
.pht-ic-f1-unlock-alt:before {
	content: "\e11f";
}
.pht-ic-f1-key-alt:before {
	content: "\e120";
}
.pht-ic-f1-cloud-alt:before {
	content: "\e121";
}
.pht-ic-f1-cloud-up-alt:before {
	content: "\e122";
}
.pht-ic-f1-cloud-udown-alt:before {
	content: "\e123";
}
.pht-ic-f1-lightbulb-alt:before {
	content: "\e124";
}
.pht-ic-f1-gift-alt:before {
	content: "\e125";
}
.pht-ic-f1-home-alt:before {
	content: "\e126";
}
.pht-ic-f1-camera-alt:before {
	content: "\e127";
}
.pht-ic-f1-mail-alt:before {
	content: "\e128";
}
.pht-ic-f1-cone-alt:before {
	content: "\e129";
}
.pht-ic-f1-ribbon-alt:before {
	content: "\e12a";
}
.pht-ic-f1-bag-alt:before {
	content: "\e12b";
}
.pht-ic-f1-cart-alt:before {
	content: "\e12c";
}
.pht-ic-f1-tag-alt:before {
	content: "\e12d";
}
.pht-ic-f1-tags-alt:before {
	content: "\e12e";
}
.pht-ic-f1-trash-alt:before {
	content: "\e12f";
}
.pht-ic-f1-pointer-alt:before {
	content: "\e130";
}
.pht-ic-f1-micor-alt:before {
	content: "\e131";
}
.pht-ic-f1-compass-alt:before {
	content: "\e132";
}
.pht-ic-f1-pin-alt:before {
	content: "\e133";
}
.pht-ic-f1-pushpin-alt:before {
	content: "\e134";
}
.pht-ic-f1-map-alt:before {
	content: "\e135";
}
.pht-ic-f1-drawer-alt:before {
	content: "\e136";
}
.pht-ic-f1-toolbox-alt:before {
	content: "\e137";
}
.pht-ic-f1-book-alt:before {
	content: "\e138";
}
.pht-ic-f1-contacts-alt:before {
	content: "\e139";
}
.pht-ic-f1-archive-alt:before {
	content: "\e13a";
}
.pht-ic-f1-heart-alt:before {
	content: "\e089";
}
.pht-ic-f1-member:before {
	content: "\e08a";
}
.pht-ic-f1-members:before {
	content: "\e08b";
}
.pht-ic-f1-grid22:before {
	content: "\e08c";
}
.pht-ic-f1-grid33:before {
	content: "\e08d";
}
.pht-ic-f1-music:before {
	content: "\e08e";
}
.pht-ic-f1-pause-circle-alt:before {
	content: "\e13b";
}
.pht-ic-f1-phone:before {
	content: "\e13c";
}
.pht-ic-f1-upload:before {
	content: "\e13d";
}
.pht-ic-f1-download:before {
	content: "\e13e";
}
.pht-ic-f1-facebook:before {
	content: "\e093";
}
.pht-ic-f1-twitter:before {
	content: "\e094";
}
.pht-ic-f1-pinterest:before {
	content: "\e095";
}
.pht-ic-f1-googleplus:before {
	content: "\e096";
}
.pht-ic-f1-tumblr:before {
	content: "\e097";
}
.pht-ic-f1-stumbleupon:before {
	content: "\e098";
}
.pht-ic-f1-wordpress:before {
	content: "\e099";
}
.pht-ic-f1-instagram:before {
	content: "\e09a";
}
.pht-ic-f1-dribbble:before {
	content: "\e09b";
}
.pht-ic-f1-vimeo:before {
	content: "\e09c";
}
.pht-ic-f1-linkedin:before {
	content: "\e09d";
}
.pht-ic-f1-rss:before {
	content: "\e09e";
}
.pht-ic-f1-deviantart:before {
	content: "\e09f";
}
.pht-ic-f1-share:before {
	content: "\e0a0";
}
.pht-ic-f1-myspace:before {
	content: "\e0a1";
}
.pht-ic-f1-skype:before {
	content: "\e0a2";
}
.pht-ic-f1-youtube:before {
	content: "\e0a3";
}
.pht-ic-f1-picassa:before {
	content: "\e0a4";
}
.pht-ic-f1-googledrive:before {
	content: "\e0a5";
}
.pht-ic-f1-flickr:before {
	content: "\e0a6";
}
.pht-ic-f1-blogger:before {
	content: "\e0a7";
}
.pht-ic-f1-spotify:before {
	content: "\e0a8";
}
.pht-ic-f1-delicious:before {
	content: "\e0a9";
}
.pht-ic-f1-facebook-alt:before {
	content: "\e0aa";
}
.pht-ic-f1-twitter-alt:before {
	content: "\e0ab";
}
.pht-ic-f1-pinterest-alt:before {
	content: "\e0ac";
}
.pht-ic-f1-googleplus-alt:before {
	content: "\e0ad";
}
.pht-ic-f1-tumblr-alt:before {
	content: "\e0ae";
}
.pht-ic-f1-stumpleupon-alt:before {
	content: "\e0af";
}
.pht-ic-f1-wordpress-alt:before {
	content: "\e0b0";
}
.pht-ic-f1-instagram-alt:before {
	content: "\e0b1";
}
.pht-ic-f1-dribbble-alt:before {
	content: "\e0b2";
}
.pht-ic-f1-vimeo-alt:before {
	content: "\e0b3";
}
.pht-ic-f1-linkedin-alt:before {
	content: "\e0b4";
}
.pht-ic-f1-rss-alt:before {
	content: "\e0b5";
}
.pht-ic-f1-deviantart-alt:before {
	content: "\e0b6";
}
.pht-ic-f1-share-alt:before {
	content: "\e0b7";
}
.pht-ic-f1-myspace-alt:before {
	content: "\e0b8";
}
.pht-ic-f1-skype-alt:before {
	content: "\e0b9";
}
.pht-ic-f1-youtube-alt:before {
	content: "\e0ba";
}
.pht-ic-f1-picassa-alt:before {
	content: "\e0bb";
}
.pht-ic-f1-googledrive-alt:before {
	content: "\e0bc";
}
.pht-ic-f1-flickr-alt:before {
	content: "\e0bd";
}
.pht-ic-f1-bloggeralt:before {
	content: "\e0be";
}
.pht-ic-f1-spotify-alt:before {
	content: "\e0bf";
}
.pht-ic-f1-delicious-alt:before {
	content: "\e0c0";
}
.pht-ic-f1-facebook-alt2:before {
	content: "\e13f";
}
.pht-ic-f1-twitter-alt2:before {
	content: "\e140";
}
.pht-ic-f1-pinterest-alt2:before {
	content: "\e141";
}
.pht-ic-f1-googleplus-alt2:before {
	content: "\e142";
}
.pht-ic-f1-tumblr-alt2:before {
	content: "\e143";
}
.pht-ic-f1-stumbleupon-alt2:before {
	content: "\e144";
}
.pht-ic-f1-wordpress-alt2:before {
	content: "\e145";
}
.pht-ic-f1-instagram-alt2:before {
	content: "\e146";
}
.pht-ic-f1-dribbble-alt2:before {
	content: "\e147";
}
.pht-ic-f1-vimeo-alt2:before {
	content: "\e148";
}
.pht-ic-f1-linkedin-alt2:before {
	content: "\e149";
}
.pht-ic-f1-rss-alt2:before {
	content: "\e14a";
}
.pht-ic-f1-deviantart-alt2:before {
	content: "\e14b";
}
.pht-ic-f1-share-alt2:before {
	content: "\e14c";
}
.pht-ic-f1-myspace-alt2:before {
	content: "\e14d";
}
.pht-ic-f1-skype-alt2:before {
	content: "\e14e";
}
.pht-ic-f1-youtube-alt2:before {
	content: "\e14f";
}
.pht-ic-f1-picassa-alt2:before {
	content: "\e150";
}
.pht-ic-f1-googledrive-alt2:before {
	content: "\e151";
}
.pht-ic-f1-flickr-alt2:before {
	content: "\e152";
}
.pht-ic-f1-blogger-alt2:before {
	content: "\e153";
}
.pht-ic-f1-spotify-alt2:before {
	content: "\e154";
}
.pht-ic-f1-delicious-alt2:before {
	content: "\e155";
}
.pht-ic-f1-printer:before {
	content: "\e103";
}
.pht-ic-f1-calculator:before {
	content: "\e0ee";
}
.pht-ic-f1-buildings:before {
	content: "\e0ef";
}
.pht-ic-f1-floppydisk:before {
	content: "\e0e8";
}
.pht-ic-f1-disk:before {
	content: "\e0ea";
}
.pht-ic-f1-search-alt:before {
	content: "\e101";
}
.pht-ic-f1-vcard:before {
	content: "\e107";
}
.pht-ic-f1-vcard-alt:before {
	content: "\e108";
}
.pht-ic-f1-puzzle:before {
	content: "\e102";
}
.pht-ic-f1-like:before {
	content: "\e106";
}
.pht-ic-f1-dislike:before {
	content: "\e0eb";
}
.pht-ic-f1-cup:before {
	content: "\e105";
}
.pht-ic-f1-dollar:before {
	content: "\e0ed";
}
.pht-ic-f1-wallet:before {
	content: "\e100";
}
.pht-ic-f1-pens:before {
	content: "\e104";
}
.pht-ic-f1-chart:before {
	content: "\e0e9";
}
.pht-ic-f1-chart-alt:before {
	content: "\e109";
}
.pht-ic-f1-chart-alt2:before {
	content: "\e0ec";
}
.pht-ic-f1-briefcase:before {
	content: "\e0fe";
}
.pht-ic-f1-shield:before {
	content: "\e0f6";
}
.pht-ic-f1-percent:before {
	content: "\e0fb";
}
.pht-ic-f1-globe:before {
	content: "\e0e2";
}
.pht-ic-f1-clobe-alt:before {
	content: "\e0e3";
}
.pht-ic-f1-target:before {
	content: "\e0f5";
}
.pht-ic-f1-hourglass:before {
	content: "\e0e1";
}
.pht-ic-f1-balance:before {
	content: "\e0ff";
}
.pht-ic-f1-rook:before {
	content: "\e156";
}
.pht-ic-f1-printer-alt:before {
	content: "\e157";
}
.pht-ic-f1-calculator-alt:before {
	content: "\e158";
}
.pht-ic-f1-buildings-alt:before {
	content: "\e159";
}
.pht-ic-f1-floppydisk-alt:before {
	content: "\e15a";
}
.pht-ic-f1-disk-alt:before {
	content: "\e15b";
}
.pht-ic-f1-search-alt2:before {
	content: "\e15c";
}
.pht-ic-f1-vcard-alt2:before {
	content: "\e15d";
}
.pht-ic-f1-vcard-alt3:before {
	content: "\e15e";
}
.pht-ic-f1-puzzle-alt:before {
	content: "\e15f";
}
.pht-ic-f1-like-alt:before {
	content: "\e160";
}
.pht-ic-f1-dislike-alt:before {
	content: "\e161";
}
.pht-ic-f1-cup-alt:before {
	content: "\e162";
}
.pht-ic-f1-dollar-alt:before {
	content: "\e163";
}
.pht-ic-f1-wallet-alt:before {
	content: "\e164";
}
.pht-ic-f1-pens-alt:before {
	content: "\e165";
}
.pht-ic-f1-chart-alt3:before {
	content: "\e166";
}
.pht-ic-f1-chart-alt4:before {
	content: "\e167";
}
.pht-ic-f1-chart-alt5:before {
	content: "\e168";
}
.pht-ic-f1-briefcase1:before {
	content: "\e169";
}
.pht-ic-f1-shield-alt:before {
	content: "\e16a";
}
.pht-ic-f1-percent-alt:before {
	content: "\e16b";
}
.pht-ic-f1-globe-alt2:before {
	content: "\e16c";
}
.pht-ic-f1-clipboard:before {
	content: "\e16d";
}
.pht-ic-mobile:before {
	content: "\e035";
}
.pht-ic-laptop:before {
	content: "\e036";
}
.pht-ic-desktop:before {
	content: "\e039";
}
.pht-ic-tablet:before {
	content: "\e03a";
}
.pht-ic-phone:before {
	content: "\e03b";
}
.pht-ic-document:before {
	content: "\e03c";
}
.pht-ic-documents:before {
	content: "\e03d";
}
.pht-ic-search:before {
	content: "\e03e";
}
.pht-ic-clipboard:before {
	content: "\e03f";
}
.pht-ic-newspaper:before {
	content: "\e040";
}
.pht-ic-notebook:before {
	content: "\e041";
}
.pht-ic-book-open:before {
	content: "\e042";
}
.pht-ic-browser:before {
	content: "\e043";
}
.pht-ic-calendar:before {
	content: "\e044";
}
.pht-ic-presentation:before {
	content: "\e045";
}
.pht-ic-picture:before {
	content: "\e046";
}
.pht-ic-pictures:before {
	content: "\e047";
}
.pht-ic-video:before {
	content: "\e048";
}
.pht-ic-camera:before {
	content: "\e049";
}
.pht-ic-printer:before {
	content: "\e04a";
}
.pht-ic-toolbox:before {
	content: "\e04b";
}
.pht-ic-briefcase:before {
	content: "\e04c";
}
.pht-ic-wallet:before {
	content: "\e04d";
}
.pht-ic-gift:before {
	content: "\e04e";
}
.pht-ic-bargraph:before {
	content: "\e04f";
}
.pht-ic-grid:before {
	content: "\e050";
}
.pht-ic-expand:before {
	content: "\e051";
}
.pht-ic-focus:before {
	content: "\e052";
}
.pht-ic-edit:before {
	content: "\e053";
}
.pht-ic-adjustments:before {
	content: "\e054";
}
.pht-ic-ribbon:before {
	content: "\e055";
}
.pht-ic-hourglass:before {
	content: "\e056";
}
.pht-ic-lock:before {
	content: "\e057";
}
.pht-ic-megaphone:before {
	content: "\e058";
}
.pht-ic-shield:before {
	content: "\e059";
}
.pht-ic-trophy:before {
	content: "\e05a";
}
.pht-ic-flag:before {
	content: "\e05b";
}
.pht-ic-map:before {
	content: "\e05c";
}
.pht-ic-puzzle:before {
	content: "\e05d";
}
.pht-ic-basket:before {
	content: "\e05e";
}
.pht-ic-envelope:before {
	content: "\e05f";
}
.pht-ic-streetsign:before {
	content: "\e060";
}
.pht-ic-telescope:before {
	content: "\e061";
}
.pht-ic-gears:before {
	content: "\e062";
}
.pht-ic-key:before {
	content: "\e063";
}
.pht-ic-paperclip:before {
	content: "\e064";
}
.pht-ic-attachment:before {
	content: "\e065";
}
.pht-ic-pricetags:before {
	content: "\e066";
}
.pht-ic-lightbulb:before {
	content: "\e067";
}
.pht-ic-layers:before {
	content: "\e068";
}
.pht-ic-pencil:before {
	content: "\e069";
}
.pht-ic-tools:before {
	content: "\e06a";
}
.pht-ic-tools-2:before {
	content: "\e06b";
}
.pht-ic-scissors:before {
	content: "\e06c";
}
.pht-ic-paintbrush:before {
	content: "\e06d";
}
.pht-ic-magnifying-glass:before {
	content: "\e06e";
}
.pht-ic-circle-compass:before {
	content: "\e06f";
}
.pht-ic-linegraph:before {
	content: "\e070";
}
.pht-ic-mic:before {
	content: "\e071";
}
.pht-ic-strategy:before {
	content: "\e072";
}
.pht-ic-beaker:before {
	content: "\e073";
}
.pht-ic-caution:before {
	content: "\e074";
}
.pht-ic-recycle:before {
	content: "\e075";
}
.pht-ic-anchor:before {
	content: "\e076";
}
.pht-ic-profile-male:before {
	content: "\e077";
}
.pht-ic-profile-female:before {
	content: "\e078";
}
.pht-ic-bike:before {
	content: "\e079";
}
.pht-ic-wine:before {
	content: "\e07a";
}
.pht-ic-hotairballoon:before {
	content: "\e07b";
}
.pht-ic-globe:before {
	content: "\e07c";
}
.pht-ic-genius:before {
	content: "\e07d";
}
.pht-ic-map-pin:before {
	content: "\e07e";
}
.pht-ic-dial:before {
	content: "\e07f";
}
.pht-ic-chat:before {
	content: "\e080";
}
.pht-ic-heart:before {
	content: "\e081";
}
.pht-ic-cloud:before {
	content: "\e082";
}
.pht-ic-upload:before {
	content: "\e083";
}
.pht-ic-download:before {
	content: "\e084";
}
.pht-ic-target:before {
	content: "\e085";
}
.pht-ic-hazardous:before {
	content: "\e086";
}
.pht-ic-piechart:before {
	content: "\e087";
}
.pht-ic-speedometer:before {
	content: "\e088";
}
.pht-ic-global:before {
	content: "\e08f";
}
.pht-ic-compass:before {
	content: "\e090";
}
.pht-ic-lifesaver:before {
	content: "\e091";
}
.pht-ic-clock:before {
	content: "\e092";
}
.pht-ic-aperture:before {
	content: "\e0c1";
}
.pht-ic-quote:before {
	content: "\e0c2";
}
.pht-ic-scope:before {
	content: "\e0c3";
}
.pht-ic-alarmclock:before {
	content: "\e0c4";
}
.pht-ic-refresh:before {
	content: "\e0c5";
}
.pht-ic-happy:before {
	content: "\e0c6";
}
.pht-ic-sad:before {
	content: "\e0c7";
}
.pht-ic-facebook:before {
	content: "\e0c8";
}
.pht-ic-twitter:before {
	content: "\e0c9";
}
.pht-ic-googleplus:before {
	content: "\e0ca";
}
.pht-ic-rss:before {
	content: "\e0cb";
}
.pht-ic-tumblr:before {
	content: "\e0cc";
}
.pht-ic-linkedin:before {
	content: "\e0cd";
}
.pht-ic-dribbble:before {
	content: "\e0ce";
}